<!DOCTYPE html>
<html>
<head>
    <title>Price List</title>
</head>
<body>
    <h1>Customer Price List</h1>
    <ul>
        <% items.forEach(item => { %>
            <li><%= item.name %> - ₹<%= item.price %></li>
        <% }) %>
    </ul>
</body>
</html>
